<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">  
  <insert id="insertUserAccount">
    INSERT INTO user(
      email,
      nickname,
      gender,
      ageRange,
      birthday,
      lastUpdateDate
    ) VALUES (
      '0404',
      'senaa',
      'M',
      '2999'
      '202020'
    )
  </select>
</mapper>